<%= link_to dynamic_prefix(public_author_path(author)), class: '' do %>
  <article class="w-full flex items-center justify-center md:items-start md:justify-start">
    <div class="rounded-xl overflow-hidden">
      <div class="w-52 h-52 rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <% if author.avatar_picture.attached? %>
          <%= image_tag author.avatar_picture, class: "w-full h-full object-contain", alt: author.formatted_name %>
        <% else %>
          <div class="w-full h-full flex items-center justify-center">
            <p>No image provided</p>
          </div>
        <% end %>
      </div>
      <div class="py-3">
        <h2>
          <%= author.formatted_name %>
        </h2>
        <p class="opacity-80 text-xs">
          <%= author.position %>
        </p>
      </div>
    </div>
  </article>
<% end %>
