<% if @page_settings.with_search %>
  <dialog id="search_page_dialog" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Search Articles on page</h3>
      <div class="modal-action">
        <div class="flex items-center justify-between relative w-full gap-x-10 flex-col md:flex-row gap-y-5" data-controller="search">
          <div
            data-search-target="searchContainer"
            class="w-full h-full relative"
            style=""
          >
            <input
              type="text"
              data-search-target="input"
              data-action="keyup->search#submitSearch"
              class="input w-full"
              placeholder="Search the page..."
              />

            <!-- Search icon inside input -->
            <div
              class="absolute right-5 top-1/2 -translate-y-1/2"
            >
              <i class="iconoir-search"></i>
            </div>
          </div>
          <button class="btn btn-normal w-full md:w-fit" data-action="click->search#submitSearchClick">Search</button>
        </div>
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

  <button class="btn btn-square" onclick="search_page_dialog.showModal()" aria-label="search">
    <i class="iconoir-search text-xl"></i>
  </button>
<% end %>
