<dialog id="subscription_modal_dialog" class="modal modal-open" data-controller="subscription">
  <div class="modal-box p-6 max-w-lg mx-auto rounded-lg shadow-lg bg-white">
    <!-- Modal Header -->
    <h3 class="text-xl font-semibold text-gray-900 mb-4">Subscription Successful 📧</h3>

    <!-- Modal Body -->
    <p class="text-gray-700 text-md mb-6">Thank you for subscribing! Please check your email inbox and click the verification link to confirm your subscription.</p>

    <!-- Modal Footer -->
    <div class="modal-action flex justify-end">
      <form method="dialog">
        <button class="btn btn-primary btn-sm" data-action="click->subscription#closeModal">OK</button>
      </form>
    </div>
  </div>
</dialog>
