<div data-react-component="Editor" class="h-screen"
     data-props="<%= { disableControls: disable_controls, email:, newsletter:, type: 'email', subscribersCount: @subscribers_count, settingsFilled: @newsletter_settings_filled, isPaying: true }.to_json %>">
</div>
