<head>
  <!-- Title should be added per page, not in layout-->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= I18n.t('errors.page_not_found') %></title>

  <%= stylesheet_link_tag "public/basic", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
</head>


<body>
  <div class="wrapper min-h-screen">
    <section class="hero-header">
      <h1 class="text-center w-full"><%= I18n.t('errors.404.not_found') %></h1>
      <p class="text-xl text-slate-500 text-center mt-5"><%= I18n.t('errors.404.title') %></p>
    </section>
  </div>
</body>
