<div style="font-family:Arial">
  Hello,<br/><br/>

  My name is Dan and I am a co-founder of BlogBowl. I'm glad to see you with us! If you have any questions about the
  platform please don't hesitate to reach out. I'm here to help you get started and make the most of your experience.
  <br/><br/>

  We are excited to have you on board and look forward to seeing your blog grow and thrive.
  <br/><br/>

  Best regards,<br/>
  Dan<br/>
</div>

