<div style="font-family:Arial">
  Hello, it's Dan from BlogBowl.<br/><br/>

  It has been a while since you signed up for BlogBowl, and I just wanted to check in with you.
  I understand that life can get busy, and I want to make sure you're getting the most out of your experience with us.<br/><br/>

  I'd be happy if you drop me a line and let me know how is your blog going. Thanks for using BlogBowl.<br/><br/>

  Best regards,<br/>
  Dan<br/>

</div>