<div style="font-family:Arial">
  Hello, it's Dan from BlogBowl. Again :)<br/><br/>

  I've noticed that you haven't created any new posts from the moment you signed up. Sometimes there is a lot of
  things to do and it can be hard to find time to write. I understand that, but I want to remind you that BlogBowl
  is here to help you with your blogging journey.<br/><br/>

  If you have any questions or need assistance, please don't hesitate to reach out.<br/><br/>

  Best regards,<br/>
  Dan<br/>

</div>