<ul class="flex items-center gap-x-5">
  <li class="" data-controller="clipboard">
          <span class="w-10 h-10 rounded-full border flex items-center justify-center cursor-pointer hover:opacity-70 active:opacity-50" onClick="copy()">
            <i class="iconoir-link" aria-hidden="true"></i>
          </span>
    <div data-clipboard-target="notification"
         class="hidden fixed bottom-4 right-4 px-4 py-2 rounded text-sm bg-green-100 shadow-lg">
      Link copied!
    </div>
  </li>
  <li class="">
    <a class="w-10 h-10 rounded-full border flex items-center justify-center cursor-pointer hover:opacity-70 active:opacity-50" href="https://twitter.com/intent/tweet?text=<%= @post.title %>&url=<%= get_full_url(dynamic_prefix(public_post_path(@post))) %>" target="_blank">
      <i class="iconoir-x" aria-hidden="true"></i>
    </a>
  </li>
  <li class="">
    <a class="w-10 h-10 rounded-full border flex items-center justify-center cursor-pointer hover:opacity-70 active:opacity-50" href="https://www.facebook.com/sharer/sharer.php?u=<%= get_full_url(dynamic_prefix(public_post_path(@post))) %>" target="_blank">
      <i class="iconoir-facebook" aria-hidden="true"></i>
    </a>
  </li>
  <li class="">
    <a class="w-10 h-10 rounded-full border flex items-center justify-center cursor-pointer hover:opacity-70 active:opacity-50" href="https://www.linkedin.com/shareArticle?mini=true&url=<%= get_full_url(dynamic_prefix(public_post_path(@post))) %>" target="_blank">
      <i class="iconoir-linkedin" aria-hidden="true"></i>
    </a>
  </li>
</ul>
