<article>
  <% if post.cover_image.attached? %>
    <%= image_tag post.cover_image, class: "rounded border w-84 h-64 object-contain", alt: post.title %>
  <% else %>
    <div class="rounded border w-84 h-64 object-contain flex items-center justify-center">
      <p>No image provided</p>
    </div>
  <% end %>
  <h2 class="mt-2 font-bold text-xl"><%= link_to post.title, dynamic_prefix(public_post_path(post)), class: "text-neutral hover:text-orange-500"  %></h2>
  <p class="mt-2"><%= post.title %></p>
</article>
