<% content_for :head do %>
  <%= render "public/shared/head/authors", author: @author %>
<% end %>

<section class="py-12 relative border">
  <div class="flex gap-x-10 justify-center">
    <div>
      <div class="py-5">
        <p class="font-bold">Breadcrumbs:</p>
        <%= render_breadcrumbs(default_breadcrumbs("Authors")) %>
      </div>
      <h1 class="font-bold">Find all authors</h1>
      <div class="wrapper grid grid-cols-4 gap-y-16 mt-10 gap-x-5">
        <%= render partial: "public/barebone/authors/author", collection: @authors %>
      </div>
      <%= pagy_navigation %>
    </div>
  </div>
</section>
