<ol>
  <li>
    <b>Save settings</b> if you haven't already
  </li>
  <li>
    <b>Add the following location code</b> to <code>nginx.conf</code> (or other config file), so it looks like this:
    <pre>
location /<%= @page.slug %>/ {
  proxy_ssl_server_name on;
  proxy_pass https://<span data-domain-target="ownDomainLabel"></span>/;
}</pre>
  </li>
  <li>
    <b>Restart</b> nginx server and try to access blog on <code>/<%= @page.slug %></code>
  </li>
</ol>