<div class="text-center min-h-96 flex items-center flex-col justify-center">
  <h2><%= t('errors.404.title') %></h2>
  <a class="px-4 py-1 border rounded font-bold ml-2 hover:opacity-70 active:opacity-60 mt-10" href="<%= get_full_url(dynamic_prefix('/')) %>">
    <%= t('buttons.go_to_home_page') %>
  </a>
</div>
